api: https://127.0.0.1:443/
logdir: ~/.tom/log
json.output.processor: jq --unbuffered --sort-keys
ca.file: ~/.tom/ca.pem
authentication {
    credential.path: ~/.tom/
    username: root
    identity.library: system
    use.fingerprint.as.username: no
}
