database {
  host: 127.0.0.1
  user: tomsvc
  database: tom
  port: 5432
  password: **********
  timeout: 1
  # require, verify-full, verify-ca, disable
  tlsmode: verify-full
}
daemon {
  listen: 127.0.0.1
  port: 80
  tls: false
  cert.file:
  key.file:
}
daemon {
  listen: 127.0.0.1
  port: 443
  tls: true
  cert.file: /svc/tomd/tls-cert.pem
  key.file: /svc/tomd/tls-key.pem
}
# debug, info, warn, error, fatal, panic
log.level: info
log.path: /svc/tomd/log
handler.queue.length: 1
